body {
  overflow:hidden;
}

.bordered {
  border: solid 1px red;
}

.block {
  display: flex; /* or inline-flex */
  flex-wrap: wrap;
  flex-basis: 24%;
  flex-grow: 0;
  //width: 10%;
  height: 30vh;
  margin: 3px;
  border-radius: 10%;
  border: solid 1px green;
  background-image: url("./backSide.jpg");
  background-size: cover;
  opacity: 0.8;
}
